@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h2>Faturalar </h2>

<table class="table table-bordered">
    <tr>
        <th>Seri Sıra No</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>

        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>PopUp Liste</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <td>@k.FaturaSeriNo @k.FaturaSıraNo</td>

            <td>@k.Tarih</td>
            <td>@k.Saat</td>
            <td>@k.Toplam ₺</td>
      


            <td>
                <a href="/Fatura/FaturaGetir/@k.FaturaID"
                   class="btn btn-success">Güncelle</a>
            </td>
            <td>
                <a href="/Fatura/FaturaDetay/@k.FaturaID"
                   class="btn btn-success" style="background-color:
                        black">Detaylar</a>
            </td>
            <td>
                <a href="/Fatura/FaturaDetay/@k.FaturaID"
                   class="btn btn-success" style="background-color:
              darkorchid; border-color:black;color:white">PopUp</a>
            </td>
            <td>
                <a href="/Fatura/FaturaDetay/@k.FaturaID"
                   class="btn btn-success" style="background-color:
            darkred">Kalem</a>
            </td>


        </tr>
    }



</table>
<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura Girişi</a>

